[mysqld]
#默认
user = mysql
server-id = 2
default-storage-engine = INNODB
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci
explicit_defaults_for_timestamp = true
lower_case_table_names = 0
innodb_flush_log_at_trx_commit = 0
event_scheduler = off
sql_mode = "STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
max_execution_time = 30000

#其他需要开的缓存
sort_buffer_size = 2M
#connection级参数。太大将导致在连接数增高时，内存不足。
max_allowed_packet = 128M
#网络传输中一次消息传输量的最大值。系统默认值 为1MB，最大值是1GB，必须设置1024的倍数。
join_buffer_size = 2M
#和sort_buffer_size一样，该参数对应的分配内存也是每个连接独享
tmp_table_size = 256M
#默认大小是 32M。GROUP BY 多不多的问题
max_heap_table_size = 256M
key_buffer_size = 2048M 
#索引的缓冲区大小，对于内存在4GB左右的服务器来说，该参数可设置为256MB或384MB。
read_buffer_size = 1M 
read_rnd_buffer_size = 16M 
#进行排序查询时，MySql会首先扫描一遍该缓冲，以避免磁盘搜索
bulk_insert_buffer_size = 64M 
#批量插入数据缓存大小，可以有效提高插入效率，默认为8M

#Innodb缓存
innodb_buffer_pool_size = 2048M 
#只需要用Innodb的话则可以设置它高达 70-80% 的可用内存。一些应用于 key_buffer 的规则有 ——如果你的数据量不大，并且不会暴增，那么无需把innodb_buffer_pool_size 设置的太大了。
innodb_log_files_in_group = 3
#循环方式将日志文件写到多个文件。推荐设置为3
innodb_lock_wait_timeout = 120
#InnoDB 有其内置的死锁检测机制，能导致未完成的事务回滚。innodb_file_per_table = 0 独享表空间，关闭
# disable-log-bin
#未注释掉,关闭binlog日志
log-bin = mysql-bin 
#注释掉之后，会关闭binlog日志
expire_logs_days = 7 
#自动删除15天前的日志。默认值为0，表示从不删除。
binlog_format = mixed 
#注释掉之后，会关闭binlog日志
binlog-ignore-db=mysql
#忽略mysql数据库
binlog-ignore-db=performance_schema
#忽略performance_schema数据库
binlog-ignore-db=information_schema
#忽略information_schemal数据库
skip-host-cache
#不使用高速缓存区来存放主机名和IP地址的对应关系。
# skip-name-resolve
# 禁止MySQL对外部连接进行DNS解析，使用这一选项可以消除MySQL进行DNS解析的时间。但需要注意，如果开启该选项，
# 则所有远程主机连接授权都要使用IP地址方式，否则MySQL将无法正常处理连接请求
relay_log=slave-relay-bin
## 中继日志存放路径
relay_log_index=slave-relay-bin.index
# 同relay_log，定义relay_log的位置和名称
sync_master_info=1
#slave更新mysql.slave_master_info表的时间间隔
sync_relay_log=1
sync_relay_log_info=1
# slave更新mysql.slave_relay_log_info表的时间间隔
#连接数
open_files_limit = 10240
#允许打开的文件数
back_log = 600 
#短时间内的多少个请求可以被存在堆栈中
max_connections = 3000
#MySQL默认的最大连接数为100，MySQL服务器允许的最大连接数16384
max_connect_errors = 6000 
#设置每个主机的连接请求异常中断的最大次数，当超过该次数，MYSQL服务器将禁止host的连接请求
thread_cache_size = 300
#重新利用保存在缓存中线程的数量
thread_stack = 192K
#每个线程的堆栈大小，默认值足够大，可满足普通操作。可设置范围为128K至4GB，默认为192KB。

#慢查询日志
slow_query_log = 0
#是否开启慢查询日志，1表示开启，0表示关闭。
log_output='FILE'
#日志存储方式。log_output='FILE'表示将日志存入文件，默认值是'FILE'。log_output='TABLE'表示将日志存入数据库，这样日志信息就会被写入到mysql.slow_log表中。MySQL数据库支持同时两种日志存储方式，配置的时候以逗号隔开即可，如：log_output='FILE,TABLE'。日志记录到系统的专用日志表中，要比记录到文件耗费更多的系统资源，因此对于需要启用慢查询日志，又需要能够获得更高的系统性能，那么建议优先记录到文件。

[mysqldump]
quick
quote-names
max_allowed_packet = 128M
[client]
default-character-set=utf8
[mysql]
default-character-set=utf8