# config

[maxscale]
threads=auto
ms_timestamp=1
log_info=1

#
[server1]
type=server
address=172.10.0.2
port=3306
protocol=MySQLBackend

[server2]
type=server
address=172.10.0.3
port=3306
protocol=MySQLBackend
# serv_weight=2 #读的比重#

[server3]
type=server
address=172.10.0.4
port=3306
protocol=MySQLBackend
# serv_weight=1 #读的比重#

[MyMonitor]
type=monitor
module=mariadbmon
servers=server1,server2,server3
user=root
passwd=root
monitor_interval=1000
detect_stale_master=true
detect_replication_lag=true

[Read-Write-Service]
type=service
router=readwritesplit
servers=server1,server2,server3
user=root
passwd=root
enable_root_user=1
max_slave_connections=100%
max_slave_replication_lag=5
# use_sql_variables_in=master

#client
[Read-Write-Listener]
type=listener
service=Read-Write-Service
protocol=MySQLClient
port=8066
##socket=default

#admin
[MaxAdmin-Listener]
type=listener
service=MaxAdmin-Service
protocol=maxscaled
port=9066

[MaxAdmin-Service]
type=service
router=cli
user=admin
passwd=admin